@page "/Trabajos/Delete"
@page "/Trabajos/Delete/{TrabajoId:int}"
@inject TrabajosServices trabajosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Trabajo</PageTitle>

<div class="container">
    <div class="card shadow-header">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3><strong>Eliminar Trabajo</strong></h3>
        </div>
        <div class="card-header">
            <h5 class="text-danger">¿Estás seguro de que quieres eliminar este trabajo?</h5>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Datos del Trabajo</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="border-primary border-2 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="list-unstyled">
                                                <li><strong>TrabajoId:</strong> @trabajo.TrabajoId</li>
                                                <li><strong>Descripción:</strong> @trabajo.Descripcion</li>
                                                <li><strong>Fecha:</strong> @trabajo.Fecha</li>
                                                <li><strong>Monto:</strong> @trabajo.Monto</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-danger" @onclick="EliminarTrabajo"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <button type="button" class="btn btn-primary" @onclick="Volver"><i class="bi bi-arrow-left-square-fill"></i> Volver</button>
        </div>
    </div>
</div>

@if (trabajo == null)
{
    <p>Trabajo no encontrado.</p>
}

@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos? trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        if (TrabajoId != 0)
        {
            trabajo = await trabajosServices.Buscar(TrabajoId);
        }
    }

    public async Task EliminarTrabajo()
    {
        if (TrabajoId == 0 || trabajo == null)
        {
            return;
        }

        if (await trabajosServices.Eliminar(TrabajoId))
        {
            Volver();
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Trabajos/Index");
    }
}
