@page "/Clientes/Index"
@inject ClientesServices clientesServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Clientes</PageTitle>

<div class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 square">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Clientes</h3>
    </div>

    <div class="row mb-3 align-items-end">
        <div class="col-md-3">
            <label for="Filtro" class="form-label"></label>
            <select @bind="filtro" class="form-select">
                <option value="" disabled selected>Filtrar por:</option>
                <option value="id">ID</option>
                <option value="nombres">Nombres</option>
                <option value="whatsapp">WhatsApp</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="ValorFiltro" class="form-label"></label>
            <div class="input-group">
                <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                <button @onclick="Buscar" class="btn btn-outline-secondary" type="button">
                    <span class="bi bi-search"></span>
                </button>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3 text-end">
                <a href="/Clientes/Create" class="btn btn-success" type="button">
                    <i class="bi bi-pencil-square"></i>
                    Crear
                </a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="bg-primary text-white">
                <tr>
                    <th>ClienteId</th>
                    <th>Nombres</th>
                    <th>WhatsApp</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in ListaClientes)
                {
                    <tr>
                        <td>@cliente.ClienteId</td>
                        <td>@cliente.Nombres</td>
                        <td>@cliente.WhatsApp</td>
                        <td>
                            <a class="btn btn-outline-primary" href="/Clientes/Details/@cliente.ClienteId">
                                <span class="bi bi-eye-fill"></span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" href="/Clientes/Edit/@cliente.ClienteId">
                                <span class="bi bi-pencil-square"></span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" href="/Clientes/Delete/@cliente.ClienteId">
                                <span class="bi bi-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-start">
        <p style="font-weight: bold;">Total de Clientes: @ListaClientes.Count</p>
    </div>
</div>


@code {
    public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();
    private string filtro = "id";
    private string? valorFiltro;

    protected override async Task OnInitializedAsync()
    {
        ListaClientes = await clientesServices.Listar(c => c.ClienteId > 0);
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int ClienteId))
            {
                ListaClientes = await clientesServices.Listar(c => c.ClienteId == ClienteId);
            }
            else if (filtro == "nombres")
            {
                ListaClientes = await clientesServices.Listar(c => c.Nombres.Contains(valorFiltro, StringComparison.OrdinalIgnoreCase));
            }
            else if (filtro == "whatsapp")
            {
                ListaClientes = await clientesServices.Listar(c => c.WhatsApp.Contains(valorFiltro));
            }
        }
        else
        {
            ListaClientes = await clientesServices.Listar(p => true);
        }
    }

    private void IrADetalles(int ClienteId)
    {
        navigationManager.NavigateTo($"/Clientes/Details/{ClienteId:int}");
    }

    private void IrAEditar(int ClienteId)
    {
        navigationManager.NavigateTo($"/Clientes/Edit/{ClienteId:int}");
    }

    private void IrEliminar(int ClienteId)
    {
        navigationManager.NavigateTo($"/Clientes/Delete/{ClienteId:int}");
    }
}
