@page "/Tecnico/Delete"
@page "/Tecnico/Delete/{TecnicoId:int}"
@inject TecnicoServices tecnicoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Técnico</PageTitle>

<div class="container">
    <div class="card shadow-header">

        <div class="card-header text-white text-center py-2 rounded" style="background-color: darkred">
            <h3><strong>Eliminar T&eacute;cnico</strong></h3>
        </div>
        <div class="card-header">
            <h5 class="text-danger">¿Estás seguro de que quieres eliminar este técnico?</h5>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Datos del técnico</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="border-primary border-2 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="list-unstyled">
                                                <li><strong>T&eacute;cnicoId:</strong> @tecnicos.TecnicoId</li>
                                                <li><strong>Nombre:</strong> @tecnicos.Nombres</li>
                                                <li><strong>SueldoHora:</strong> @tecnicos.SueldoHora</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-danger" @onclick="EliminarTecnico"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <button type="button" class="btn btn-primary" @onclick="Volver"><i class="bi bi-arrow-left-square-fill"></i> Volver</button>
        </div>
    </div>
</div>

@if (tecnicos == null)
{
    <p>Técnico no encontrado.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? tecnicos { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            tecnicos = await tecnicoServices.Buscar(TecnicoId);
        }
    }

    public async Task EliminarTecnico()
    {
        if (TecnicoId == 0 || tecnicos == null)
        {
            return;
        }

        if (await tecnicoServices.Eliminar(TecnicoId))
        {
            Volver();
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnico/index");
    }
}