@page "/Tecnicos/Details"
@page "/Tecnicos/Details/{TecnicoId:int}"
@inject TecnicoService TecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles del Técnico</PageTitle>

@if (Tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del Técnico</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>TecnicoId:</strong> @Tecnico.TecnicoId</li>
                                <li><strong>Nombres:</strong> @Tecnico.Nombres</li>
                                <li><strong>SueldoHora:</strong> @Tecnico.SueldoHora</li>
                                <li><strong>Tipo de Técnico:</strong> @Tecnico.Tipo.Descripcion</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Técnico no encontrado.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnico? Tecnico { get; set; } = new Tecnico();

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await TecnicoService.Buscar(TecnicoId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }
}
