@page "/Tecnico/index"
@inject TecnicoServices tecnicoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta T&eacute;cnicos</PageTitle>

<EditForm Model="ListaTecnicos" class"border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta T&eacute;cnicos</h3>
    </div>
    
   <div class="card-body">
       <div class="row">
           <div class="col-md-9">
           <div class="col-md-3 text-end">
               <a href="Tecnico/Create" class="btn btn-success" type="button">
                   <i class="bi bi-pencil-square"></i>
                   Crear
                  </a>
           </div>
           </div>
       </div>
   </div>

   <div class="table-responsive">
       <table class="table table-bordered text-center">
           <thead class="bg-primary text-white">
               <tr>
                   <th>TecnicoId</th>
                   <th>Nombre</th>
                   <th>SueldoHora</th>
                   <th>Detalle</th>
                   <th>Editar</th>
                   <th>Eliminar</th>
               </tr>
           </thead>
           <tbody>
                @foreach (var t in ListaTecnicos)
                {
                    <tr>
                        <td>@t.TecnicoId</td>
                        <td>@t.Nombre</td>
                        <td>@t.SueldoHora</td>
                        <td>
                            <a href="/Tecnico/Details/@t.TecnicoId" style="border: none; background-color: transparent;" class="btn-detalle">
                                <span class="bi bi-info-circle-fill" style="font-size: 2rem;"></span>
                                </a>
                        </td>

                        <td>
                            <a href="Tecnico/Edit/@t.TecnicoId" style="border: none; background-color: transparent;" class="btn-editar">
                               <span class="bi bi-pencil-square" style="font-size: 2rem"></span>
                               </a>
                        </td>
                        
                    </tr>
                }
            </tbody>
       </table>
   </div>

   <div class="card-footer text-start">
       <p>Total de Técnicos: @ListaTecnicos.Count</p>
   </div>
</EditForm>

@code {
    public Tecnicos tecnico = new Tecnicos();
    public List<Tecnicos> ListaTecnicos  = new List<Tecnicos>();
    private string filtro = "id";
    private string valorfiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaTecnicos = await tecnicoServices.Listar(t => true);
    }
}
