<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Registro de Técnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3" style="line-height: 2.5rem;">
            <NavLink class="nav-link" href="/Tecnico/index">
                <i class="bi bi-person-fill-gear" aria-hidden="true" style="font-size: 1.5rem; vertical-align: middle; margin-top: -25px;"></i> Técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3" style="line-height: 2.5rem;">
            <NavLink class="nav-link" href="/TipoTecnico/Index">
                <i class="bi bi-person-lines-fill" aria-hidden="true" style="font-size: 1.5rem; vertical-align: middle; margin-top: -25px;"></i> Tipos Técnicos
            </NavLink>
        </div>

        <div class="nav-item px-3" style="line-height: 2.5rem;">
            <NavLink class="nav-link" href="/Clientes/Index">
                <i class="bi bi-person-fill" aria-hidden="true" style="font-size: 1.5rem; vertical-align: middle; margin-top: -25px;"></i> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3" style="line-height: 2.5rem;">
            <NavLink class="nav-link" href="/Trabajos/Index">
                <i class="bi bi-person-workspace" aria-hidden="true" style="font-size: 1.5rem; vertical-align: middle; margin-top: -25px;"></i> Trabajos
            </NavLink>
        </div>

    </nav>
</div>

