@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>¡Bienvenido al Registro de Técnicos!</h1>
            <p>Este registro es una herramienta para gestionar y mantener un seguimiento de los técnicos y sus actividades.</p>
            <h2>Características Principales</h2>
            <ul>
                <li>Administra técnicos de manera eficiente.</li>
                <li>Agrega, edita y elimina técnicos según sea necesario.</li>
                <li>Visualiza fácilmente la información detallada de cada técnico.</li>
            </ul>
            <h2>¡Comienza a usar la aplicación!</h2>
            <p>Para empezar, puedes hacer clic en "Técnicos" en el menú de navegación para ver la lista de técnicos registrados.</p>
            <p>Desde allí, puedes agregar nuevos técnicos, editar la información existente o eliminar técnicos según sea necesario.</p>
            <h2>Explora más</h2>
            <p>¡Echa un vistazo a nuestras otras páginas importantes!</p>
            <ul>
                <li><a href="/Tecnicos">Lista de Técnicos</a></li>
                <li><a href="/Login">Iniciar Sesión</a></li>
                <li><a href="/Register">Registrarse</a></li>
                <li><a href="/Ayuda">Obtener Ayuda</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="Wall-E.gif" alt="Wall-E" class="img-fluid">

        </div>
    </div>
</div>
